<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Customer Management - Admin Fusion Company Limited.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" >
        <script src="js/jquery-1.7.2.min.js"></script> 
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.js"></script>
        <script src="js/ui-bootstrap-tpls-0.14.3.js"></script>
        <!--- Header file is here -->
    <body ng-app="app" ng-controller="CustomerController" data-ng-init="init()" >
        <header ng-include="'header.html'"></header>
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        <div class="span12">      		
                            <div class="widget ">
                                <div class="widget-header">
                                    <i class="icon-user"></i>
                                    <h3>Master Information: </h3>
                                </div> <!-- /widget-header -->
                                <div class="widget-content">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="formcontrols">
                                                <fieldset>
                                                    <span class="span11"><p id="LocationMsg1"></p></span>
                                                    <div class="span2">
                                                        <div class="control-group">
                                                            <div class="accordion" id="accordion2">
                                                                <div class="accordion-group">
                                                                    <div class="accordion-heading">
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                                                            Master Management
                                                                        </a>
                                                                    </div>
                                                                    <div id="collapseOne" class="accordion-body collapse in">
                                                                        <div class="accordion-inner">
                                                                            <p><a href="#">Location Master</a></p>
                                                                            <p><a href="#">Group Master</a></p>
                                                                            <p><a href="#">Card Master</a></p>
                                                                            <p><a href="#">Customer Type Master</a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="accordion-group">
                                                                    <div class="accordion-heading">
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                                                            Product Management
                                                                        </a>
                                                                    </div>
                                                                    <div id="collapseTwo" class="accordion-body collapse">
                                                                        <div class="accordion-inner">
                                                                            <p><a href="#">Product Master</a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>	
                                                        </div> <!-- /control-group -->
                                                    </div>
                                                    <div class="span9">
                                                        <div ng-controller="LocationController" id="collapseOne" class="accordion-body collapse in">
                                                            <form name="LocationForm" novalidate ng-submit="LocationFormValidate($event)">
                                                                <div ng-include="'Controls/LocationControl.html'"></div><br>
                                                                <button type="submit" class="btn btn-primary btn-large" ng-click="LocationForm.$valid && LocationSave()">Save</button>
                                                                <a href="#LocationListModal" data-toggle="modal" class="btn btn-warning btn-large">List</a>
                                                                <button class="btn btn-large" ng-click="reset()">Reset</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </fieldset>
                                        </div>
                                    </div>
                                </div> <!-- /widget-content -->
                            </div> <!-- /widget -->
                        </div> <!-- /span8 -->
                    </div> <!-- /row -->
                </div> <!-- /container -->
            </div> <!-- /main-inner -->
        </div> <!-- /main -->
        <script src="app/app.js"></script>
        <div ng-include="'footer.html'"></div>

