<!DOCTYPE html>
<html lang="en" ng-app="LoginApp" ng-controller="LoginController" data-ng-init="init()">

    <head>
        <meta charset="utf-8">
        <title>Admin Login - Urban Tadka</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes"> 
        <script src="js/jquery-1.7.2.min.js"></script> 
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.js"></script> 
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="css/pages/signin.css" rel="stylesheet" type="text/css">

    </head>

    <body>

        <div class="navbar navbar-fixed-top">

            <div class="navbar-inner">

                <div class="container">

                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="brand" href="index.html">
                        Urban Tadka Admin				
                    </a>		

                </div> <!-- /container -->

            </div> <!-- /navbar-inner -->

        </div> <!-- /navbar -->



        <div class="account-container">

            <div class="content clearfix">

                <form id="LoginForm" name="LoginForm" novalidate ng-submit="LoginFormValidate($event)">

                    <h1>Admin Login</h1>		

                    <div class="login-fields">
                        <p id="LoginMsg"></p>
                        <p>Please provide your details</p>
                        
                        <div class="field">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="LoginFormData.Username" ng-model="LoginFormData.Username" placeholder="Username" class="login username-field" />
                        </div> <!-- /field -->
                        <span style="color:red" ng-show="UsernameRequired">* Required</span>
                        <div class="field">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="LoginFormData.Password" ng-model="LoginFormData.Password" placeholder="Password" class="login password-field"/>
                        </div> <!-- /password -->
                        <span style="color:red" ng-show="PasswordRequired">* Required</span>
                    </div> <!-- /login-fields -->

                    <div class="login-actions">

                        <span class="login-checkbox">
                            <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
                            <label class="choice" for="Field">Keep me signed in</label>
                        </span>

                        <input type="submit" class="button btn btn-success btn-large" ng-click="LoginForm.$valid && login()" value="Sign In"/>

                    </div> <!-- .actions -->



                </form>

            </div> <!-- /content -->

        </div> <!-- /account-container -->



        <div class="login-extra">
            <a href="reset.html">Reset Password</a>
        </div> <!-- /login-extra -->
        <br><br><br><br><br><br>
        <script src="app/loginApp.js"></script> 
        <div ng-include="'footer.html'"></div>
