<div id="ProductListModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="ProductListController">
    <div class="modal-dialog modal-lg">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Product List</h3>
        </div>
        <form name="ProductListForm" novalidate>
            <div class="modal-content">
                <p id="CustDeleteMsg" style='padding:10px;'></p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Card No</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Nationality</th>
                            <th scope="col" colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Customer in Customers">
                            <td>{{ Customer.cust_id }}</td>
                            <td>{{ Customer.salutation+' '+Customer.first_name+' '+Customer.last_name }}</td>
                            <td>{{ Customer.card_id }}</td>
                            <td>{{ Customer.mobile }}</td>
                            <td>{{ Customer.phone }}</td>
                            <td>{{ Customer.email }}</td>
                            <td>{{ Customer.location_id+', '+Customer.address1+' '+Customer.address2+' '+Customer.address3+'-'+Customer.pincode}}<br>{{Customer.cityid+' '+Customer.stateid+' '+Customer.countryid+'.'; }}</td>
                            <td>{{ Customer.nationality }}</td>
                            <td><a href="#" title="Display" ng-click="Update(Customer)"><i class="icon icon-edit icon-2x"></i></a></td>
                            <td><a href="#" title="Delete" ng-click="Delete(Customer.cust_id)"><i class="icon icon-trash icon-2x"></i></a></td>
                        </tr>
                        <tr ng-if="Customers.length === 0">
                            <td colspan="10"><p style="color:red"><strong>Sorry !</strong> Customer details not found.</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn pull-left" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </form>
    </div>
</div>