<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script> 
<link rel='stylesheet prefetch' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<style>
    #itemCount {
        position: relative;
        display: block;
        top: -35px;
        left: 25px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: red;
        color: white;
        text-align: center;
        font-size: 12px;
    }
</style>
</head>
<body>
    <!-- header -->
    <div class="agileits_header">
        <div class="w3l_offers">
            <a href="#/products">Today's special Offers !</a>
        </div>
        <div class="w3l_search">
            <form action="#" method="post">
                <input type="text" name="Product" value="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {
                            this.value = 'Search a product...';
                        }" required="">
                <input type="submit" value=" ">
            </form>
        </div>
        <div class="product_list_header">  
            <a href="checkout.html"><i class="fa fa-shopping-cart fa-2x" style="color:white;padding-top: 5px;"></i><span id="itemCount">{{ItemCount}}</span></a>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- script-for sticky-nav -->
    <script>
        $(document).ready(function () {
            var navoffeset = $(".agileits_header").offset().top;
            $(window).scroll(function () {
                var scrollpos = $(window).scrollTop();
                if (scrollpos >= navoffeset) {
                    $(".agileits_header").addClass("fixed");
                } else {
                    $(".agileits_header").removeClass("fixed");
                }
            });

        });
    </script>
    <!-- //script-for sticky-nav -->
    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left">
                <h1><a href="/"><span>Urban</span> Tadaka</a></h1>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> 
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs" ng-controller="HeaderController">
                <div class="w3ls_logo_products_left1">
                    <ul class="special_items">
                        <li><a href="/" class="{{HomeActive}}">Home</a></li>
                        <li><a href="about.html" class="{{AboutusActive}}">About Us</a></li>
                        <li><a href="mail.html" class="{{ContactActive}}">Contact Us</a></li>
                        <li><a href="products.html" class="{{ProductsActive}}">Products</a></li>
                        <li><a href="services.html" class="{{ServicesActive}}">Services</a></li>
                        <li ng-if="LoginUser == 401"><a href="login.html" class="{{LoginActive}}">Login</a></li>
                        <li ng-if="LoginUser == 200"><a href="user.html" class="{{UserActive}}">My Account</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->