<div class="control-group">											
    <div class="controls">
        <label class="control-label"><b>City Name:</b></label>
        <input type="text" class="span4" name="CityName" ng-model="FormData.CityName" required />
        <span style="color:red" ng-show="CityNameRequired">* Required</span>
        <label class="control-label"><b>State Name:</b></label>
        <input type="text" class="span4" name="StateName" ng-model="FormData.StateName" required />
        <span style="color:red" ng-show="StateNameRequired">* Required</span>
        <label class="control-label"><b>Country Name:</b></label>
        <input type="text" class="span4" name="CountryName" ng-model="FormData.CountryName" required />
        <span style="color:red" ng-show="CountryNameRequired">* Required</span>
    </div> <!-- /controls -->				
</div> <!-- /control-group -->